
ObjectDetection/odFridgeObjects/validation_annotations.jsonl
ObjectDetection/odFridgeObjects/train_annotations.jsonl
ObjectDetection/odFridgeObjects/images/99.jpg
ObjectDetection/odFridgeObjects/images/98.jpg
ObjectDetection/odFridgeObjects/images/97.jpg
ObjectDetection/odFridgeObjects/images/96.jpg
ObjectDetection/odFridgeObjects/images/95.jpg
ObjectDetection/odFridgeObjects/images/94.jpg
ObjectDetection/odFridgeObjects/images/93.jpg
ObjectDetection/odFridgeObjects/images/92.jpg
ObjectDetection/odFridgeObjects/images/91.jpg
ObjectDetection/odFridgeObjects/images/90.jpg
ObjectDetection/odFridgeObjects/images/9.jpg
ObjectDetection/odFridgeObjects/images/89.jpg
ObjectDetection/odFridgeObjects/images/88.jpg
ObjectDetection/odFridgeObjects/images/87.jpg
ObjectDetection/odFridgeObjects/images/86.jpg
ObjectDetection/odFridgeObjects/images/85.jpg
ObjectDetection/odFridgeObjects/images/84.jpg
ObjectDetection/odFridgeObjects/images/83.jpg
ObjectDetection/odFridgeObjects/images/82.jpg
ObjectDetection/odFridgeObjects/images/81.jpg
ObjectDetection/odFridgeObjects/images/80.jpg
ObjectDetection/odFridgeObjects/images/8.jpg
ObjectDetection/odFridgeObjects/images/79.jpg
ObjectDetection/odFridgeObjects/images/78.jpg
ObjectDetection/odFridgeObjects/images/77.jpg
ObjectDetection/odFridgeObjects/images/76.jpg
ObjectDetection/odFridgeObjects/images/75.jpg
ObjectDetection/odFridgeObjects/images/74.jpg
ObjectDetection/odFridgeObjects/images/73.jpg
ObjectDetection/odFridgeObjects/images/72.jpg
ObjectDetection/odFridgeObjects/images/71.jpg
ObjectDetection/odFridgeObjects/images/70.jpg
ObjectDetection/odFridgeObjects/images/7.jpg
ObjectDetection/odFridgeObjects/images/69.jpg
ObjectDetection/odFridgeObjects/images/68.jpg
ObjectDetection/odFridgeObjects/images/67.jpg
ObjectDetection/odFridgeObjects/images/66.jpg
ObjectDetection/odFridgeObjects/images/65.jpg
ObjectDetection/odFridgeObjects/images/64.jpg
ObjectDetection/odFridgeObjects/images/63.jpg
ObjectDetection/odFridgeObjects/images/62.jpg
ObjectDetection/odFridgeObjects/images/61.jpg
ObjectDetection/odFridgeObjects/images/60.jpg
ObjectDetection/odFridgeObjects/images/6.jpg
ObjectDetection/odFridgeObjects/images/59.jpg
ObjectDetection/odFridgeObjects/images/58.jpg
ObjectDetection/odFridgeObjects/images/57.jpg
ObjectDetection/odFridgeObjects/images/56.jpg
ObjectDetection/odFridgeObjects/images/55.jpg
ObjectDetection/odFridgeObjects/images/54.jpg
ObjectDetection/odFridgeObjects/images/53.jpg
ObjectDetection/odFridgeObjects/images/52.jpg
ObjectDetection/odFridgeObjects/images/51.jpg
ObjectDetection/odFridgeObjects/images/50.jpg
ObjectDetection/odFridgeObjects/images/5.jpg
ObjectDetection/odFridgeObjects/images/49.jpg
ObjectDetection/odFridgeObjects/images/48.jpg
ObjectDetection/odFridgeObjects/images/47.jpg
ObjectDetection/odFridgeObjects/images/46.jpg
ObjectDetection/odFridgeObjects/images/45.jpg
ObjectDetection/odFridgeObjects/images/44.jpg
ObjectDetection/odFridgeObjects/images/43.jpg
ObjectDetection/odFridgeObjects/images/42.jpg
ObjectDetection/odFridgeObjects/images/41.jpg
ObjectDetection/odFridgeObjects/images/40.jpg
ObjectDetection/odFridgeObjects/images/4.jpg
ObjectDetection/odFridgeObjects/images/39.jpg
ObjectDetection/odFridgeObjects/images/38.jpg
ObjectDetection/odFridgeObjects/images/37.jpg
ObjectDetection/odFridgeObjects/images/36.jpg
ObjectDetection/odFridgeObjects/images/35.jpg
ObjectDetection/odFridgeObjects/images/34.jpg
ObjectDetection/odFridgeObjects/images/33.jpg
ObjectDetection/odFridgeObjects/images/32.jpg
ObjectDetection/odFridgeObjects/images/31.jpg
ObjectDetection/odFridgeObjects/images/30.jpg
ObjectDetection/odFridgeObjects/images/3.jpg
ObjectDetection/odFridgeObjects/images/29.jpg
ObjectDetection/odFridgeObjects/images/28.jpg
ObjectDetection/odFridgeObjects/images/27.jpg
ObjectDetection/odFridgeObjects/images/26.jpg
ObjectDetection/odFridgeObjects/images/25.jpg
ObjectDetection/odFridgeObjects/images/24.jpg
ObjectDetection/odFridgeObjects/images/23.jpg
ObjectDetection/odFridgeObjects/images/22.jpg
ObjectDetection/odFridgeObjects/images/21.jpg
ObjectDetection/odFridgeObjects/images/20.jpg
ObjectDetection/odFridgeObjects/images/2.jpg
ObjectDetection/odFridgeObjects/images/19.jpg
ObjectDetection/odFridgeObjects/images/18.jpg
ObjectDetection/odFridgeObjects/images/17.jpg
ObjectDetection/odFridgeObjects/images/16.jpg
ObjectDetection/odFridgeObjects/images/15.jpg
ObjectDetection/odFridgeObjects/images/14.jpg
ObjectDetection/odFridgeObjects/images/13.jpg
ObjectDetection/odFridgeObjects/images/128.jpg
ObjectDetection/odFridgeObjects/images/127.jpg
ObjectDetection/odFridgeObjects/images/126.jpg
ObjectDetection/odFridgeObjects/images/125.jpg
ObjectDetection/odFridgeObjects/images/124.jpg
ObjectDetection/odFridgeObjects/images/123.jpg
ObjectDetection/odFridgeObjects/images/122.jpg
ObjectDetection/odFridgeObjects/images/121.jpg
ObjectDetection/odFridgeObjects/images/120.jpg
ObjectDetection/odFridgeObjects/images/12.jpg
ObjectDetection/odFridgeObjects/images/119.jpg
ObjectDetection/odFridgeObjects/images/118.jpg
ObjectDetection/odFridgeObjects/images/117.jpg
ObjectDetection/odFridgeObjects/images/116.jpg
ObjectDetection/odFridgeObjects/images/115.jpg
ObjectDetection/odFridgeObjects/images/114.jpg
ObjectDetection/odFridgeObjects/images/113.jpg
ObjectDetection/odFridgeObjects/images/112.jpg
ObjectDetection/odFridgeObjects/images/111.jpg
ObjectDetection/odFridgeObjects/images/110.jpg
ObjectDetection/odFridgeObjects/images/11.jpg
ObjectDetection/odFridgeObjects/images/109.jpg
ObjectDetection/odFridgeObjects/images/108.jpg
ObjectDetection/odFridgeObjects/images/107.jpg
ObjectDetection/odFridgeObjects/images/106.jpg
ObjectDetection/odFridgeObjects/images/105.jpg
ObjectDetection/odFridgeObjects/images/104.jpg
ObjectDetection/odFridgeObjects/images/103.jpg
ObjectDetection/odFridgeObjects/images/102.jpg
ObjectDetection/odFridgeObjects/images/101.jpg
ObjectDetection/odFridgeObjects/images/100.jpg
ObjectDetection/odFridgeObjects/images/10.jpg
ObjectDetection/odFridgeObjects/images/1.jpg
ObjectDetection/odFridgeObjects/annotations/99.xml
ObjectDetection/odFridgeObjects/annotations/98.xml
ObjectDetection/odFridgeObjects/annotations/97.xml
ObjectDetection/odFridgeObjects/annotations/96.xml
ObjectDetection/odFridgeObjects/annotations/95.xml
ObjectDetection/odFridgeObjects/annotations/94.xml
ObjectDetection/odFridgeObjects/annotations/93.xml
ObjectDetection/odFridgeObjects/annotations/92.xml
ObjectDetection/odFridgeObjects/annotations/91.xml
ObjectDetection/odFridgeObjects/annotations/90.xml
ObjectDetection/odFridgeObjects/annotations/9.xml
ObjectDetection/odFridgeObjects/annotations/89.xml
ObjectDetection/odFridgeObjects/annotations/88.xml
ObjectDetection/odFridgeObjects/annotations/87.xml
ObjectDetection/odFridgeObjects/annotations/86.xml
ObjectDetection/odFridgeObjects/annotations/85.xml
ObjectDetection/odFridgeObjects/annotations/84.xml
ObjectDetection/odFridgeObjects/annotations/83.xml
ObjectDetection/odFridgeObjects/annotations/82.xml
ObjectDetection/odFridgeObjects/annotations/81.xml
ObjectDetection/odFridgeObjects/annotations/80.xml
ObjectDetection/odFridgeObjects/annotations/8.xml
ObjectDetection/odFridgeObjects/annotations/79.xml
ObjectDetection/odFridgeObjects/annotations/78.xml
ObjectDetection/odFridgeObjects/annotations/77.xml
ObjectDetection/odFridgeObjects/annotations/76.xml
ObjectDetection/odFridgeObjects/annotations/75.xml
ObjectDetection/odFridgeObjects/annotations/74.xml
ObjectDetection/odFridgeObjects/annotations/73.xml
ObjectDetection/odFridgeObjects/annotations/72.xml
ObjectDetection/odFridgeObjects/annotations/71.xml
ObjectDetection/odFridgeObjects/annotations/70.xml
ObjectDetection/odFridgeObjects/annotations/7.xml
ObjectDetection/odFridgeObjects/annotations/69.xml
ObjectDetection/odFridgeObjects/annotations/68.xml
ObjectDetection/odFridgeObjects/annotations/67.xml
ObjectDetection/odFridgeObjects/annotations/66.xml
ObjectDetection/odFridgeObjects/annotations/65.xml
ObjectDetection/odFridgeObjects/annotations/64.xml
ObjectDetection/odFridgeObjects/annotations/63.xml
ObjectDetection/odFridgeObjects/annotations/62.xml
ObjectDetection/odFridgeObjects/annotations/61.xml
ObjectDetection/odFridgeObjects/annotations/60.xml
ObjectDetection/odFridgeObjects/annotations/6.xml
ObjectDetection/odFridgeObjects/annotations/59.xml
ObjectDetection/odFridgeObjects/annotations/58.xml
ObjectDetection/odFridgeObjects/annotations/57.xml
ObjectDetection/odFridgeObjects/annotations/56.xml
ObjectDetection/odFridgeObjects/annotations/55.xml
ObjectDetection/odFridgeObjects/annotations/54.xml
ObjectDetection/odFridgeObjects/annotations/53.xml
ObjectDetection/odFridgeObjects/annotations/52.xml
ObjectDetection/odFridgeObjects/annotations/51.xml
ObjectDetection/odFridgeObjects/annotations/50.xml
ObjectDetection/odFridgeObjects/annotations/5.xml
ObjectDetection/odFridgeObjects/annotations/49.xml
ObjectDetection/odFridgeObjects/annotations/48.xml
ObjectDetection/odFridgeObjects/annotations/47.xml
ObjectDetection/odFridgeObjects/annotations/46.xml
ObjectDetection/odFridgeObjects/annotations/45.xml
ObjectDetection/odFridgeObjects/annotations/44.xml
ObjectDetection/odFridgeObjects/annotations/43.xml
ObjectDetection/odFridgeObjects/annotations/42.xml
ObjectDetection/odFridgeObjects/annotations/41.xml
ObjectDetection/odFridgeObjects/annotations/40.xml
ObjectDetection/odFridgeObjects/annotations/4.xml
ObjectDetection/odFridgeObjects/annotations/39.xml
ObjectDetection/odFridgeObjects/annotations/38.xml
ObjectDetection/odFridgeObjects/annotations/37.xml
ObjectDetection/odFridgeObjects/annotations/36.xml
ObjectDetection/odFridgeObjects/annotations/35.xml
ObjectDetection/odFridgeObjects/annotations/34.xml
ObjectDetection/odFridgeObjects/annotations/33.xml
ObjectDetection/odFridgeObjects/annotations/32.xml
ObjectDetection/odFridgeObjects/annotations/31.xml
ObjectDetection/odFridgeObjects/annotations/30.xml
ObjectDetection/odFridgeObjects/annotations/3.xml
ObjectDetection/odFridgeObjects/annotations/29.xml
ObjectDetection/odFridgeObjects/annotations/28.xml
ObjectDetection/odFridgeObjects/annotations/27.xml
ObjectDetection/odFridgeObjects/annotations/26.xml
ObjectDetection/odFridgeObjects/annotations/25.xml
ObjectDetection/odFridgeObjects/annotations/24.xml
ObjectDetection/odFridgeObjects/annotations/23.xml
ObjectDetection/odFridgeObjects/annotations/22.xml
ObjectDetection/odFridgeObjects/annotations/21.xml
ObjectDetection/odFridgeObjects/annotations/20.xml
ObjectDetection/odFridgeObjects/annotations/2.xml
ObjectDetection/odFridgeObjects/annotations/19.xml
ObjectDetection/odFridgeObjects/annotations/18.xml
ObjectDetection/odFridgeObjects/annotations/17.xml
ObjectDetection/odFridgeObjects/annotations/16.xml
ObjectDetection/odFridgeObjects/annotations/15.xml
ObjectDetection/odFridgeObjects/annotations/14.xml
ObjectDetection/odFridgeObjects/annotations/13.xml
ObjectDetection/odFridgeObjects/annotations/128.xml
ObjectDetection/odFridgeObjects/annotations/127.xml
ObjectDetection/odFridgeObjects/annotations/126.xml
ObjectDetection/odFridgeObjects/annotations/125.xml
ObjectDetection/odFridgeObjects/annotations/124.xml
ObjectDetection/odFridgeObjects/annotations/123.xml
ObjectDetection/odFridgeObjects/annotations/122.xml
ObjectDetection/odFridgeObjects/annotations/121.xml
ObjectDetection/odFridgeObjects/annotations/120.xml
ObjectDetection/odFridgeObjects/annotations/12.xml
ObjectDetection/odFridgeObjects/annotations/119.xml
ObjectDetection/odFridgeObjects/annotations/118.xml
ObjectDetection/odFridgeObjects/annotations/117.xml
ObjectDetection/odFridgeObjects/annotations/116.xml
ObjectDetection/odFridgeObjects/annotations/115.xml
ObjectDetection/odFridgeObjects/annotations/114.xml
ObjectDetection/odFridgeObjects/annotations/113.xml
ObjectDetection/odFridgeObjects/annotations/112.xml
ObjectDetection/odFridgeObjects/annotations/111.xml
ObjectDetection/odFridgeObjects/annotations/110.xml
ObjectDetection/odFridgeObjects/annotations/11.xml
ObjectDetection/odFridgeObjects/annotations/109.xml
ObjectDetection/odFridgeObjects/annotations/108.xml
ObjectDetection/odFridgeObjects/annotations/107.xml
ObjectDetection/odFridgeObjects/annotations/106.xml
ObjectDetection/odFridgeObjects/annotations/105.xml
ObjectDetection/odFridgeObjects/annotations/104.xml
ObjectDetection/odFridgeObjects/annotations/103.xml
ObjectDetection/odFridgeObjects/annotations/102.xml
ObjectDetection/odFridgeObjects/annotations/101.xml
ObjectDetection/odFridgeObjects/annotations/100.xml
ObjectDetection/odFridgeObjects/annotations/10.xml
ObjectDetection/odFridgeObjects/annotations/1.xml
ObjectDetection/odFridgeObjects/.DS_Store
.idea/workspace.xml
MultiClass/.ipynb_checkpoints/AutoMLImage_MultiClass_SampleNotebook-checkpoint.ipynb
